/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.search-month {
  margin-left: 0.0px;
}

select {
  font-family: Cursive;
  font-size: 26px;
  border: 0;
  -webkit-appearance: none;
}

a.popular_articles {
  position:absolute;
  top:26px;left:40px;
  display:inline-block;
  padding:4px 11px;
  font-size:.9em;
  -moz-box-shadow:rgba(255, 255, 255, 0.4) 0 -1px inset;
  -webkit-box-shadow:rgba(255, 255, 255, 0.4) 0 -1px inset;
  -o-box-shadow:rgba(255, 255, 255, 0.4) 0 -1px inset;
  box-shadow:rgba(255, 255, 255, 0.4) 0 -1px inset;
  -moz-border-radius:1.2em;
  -webkit-border-radius:1.2em;
  -o-border-radius:1.2em;
  -ms-border-radius:1.2em;
  -khtml-border-radius:1.2em;
  border-radius:1.2em;
  background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  background-image:-moz-linear-gradient(#ffffff,#cccccc);
  background-image:linear-gradient(#ffffff,#cccccc);
  text-shadow:#fff 0 1px;
  color:#999999;
  text-decoration:none
}
